{% extends "layout.html" %}
{% block content %}
    <main>
		<div class="container mt-5">
			<div class="row">
				<div class="col-12">
					<div class="progress progress-bar progress-bar-striped progress-bar-animated mb-2" style="display:none">模型载入中，请等待</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-6">
					<h5>选择AI模型</h5>
				</div>
				<div class="col-6">
					<select id="model-selector" class="custom-select">
						<option selected disabled> 模型列表 </option>
						<option>猫狗图像识别</option>
						<option>物体图像识别</option>
						<option>手势图像识别</option>
						<option>人脸识别</option>
						<option>人脸检测</option>						
						<option>目标检测</option>
						<option>图像分割</option>
					</select>	
				</div>
			</div>	
			<hr>	
			<div class="row">
				<div class="col-12">
					<h5>选择图像文件并点击“识别”按钮</h5>
				</div>
			</div>		
			<div class="row">
	            <div class="col-4">
	                <input id="image-selector" class="form-control border-1" type="file">
	            </div>
	            <div class="col-4">
	                <input id="image-selector2" class="form-control border-1" type="file">
	            </div>	            
	            <div class="col-3">
	                <button id="predict-button" class="btn btn-success btn-lg float-end">预测</button>
	            </div>
	        </div>
	        <hr>
		    <div class="row">
	            <div class="col">
	            	<h5 class="ml-3">查看预测结果</h5>
	        </div>
	        <div class="row">
	            <div class="col-6">
	            	<p style="font-weight:bold"><span id="prediction" ></span></p>
	                <ol id="prediction-list"></ol>
	        </div>
 				<div class="col-6">
 					<div id="pie-chart"></div>
 				</div>
	        </div>
	        <hr>
	        <div class="row">
				<div class="col-6">
					<h5 class="ml-3">载入的图像文件</h5>
				</div>
	        </div>
	        <div class="row">
	            <div class="col-6">
					<img id="selected-image" class="ml-3" src="" width=300 height=300/>
				</div>
				<div class="col-6">
					<img id="selected-image2" class="ml-3" src="" width=300 height=300/>
				</div>
	        </div>
	    </div>
	</main>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.3/dc.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- 	<script type=type="text/javascript" src="imagenet_classes.js"></script>	
	<script type=type="text/javascript" src="predict.js"></script>	
 -->
 	<script>
		//newly added function for model selection
		$("#model-selector").change(function(){
			$("image-selector2").show();
			let model_selected = $("#model-selector").val()
            let message = {
                modelename: model_selected
            };
            $(".progress-bar").show();
            $.post("/loadmodel", JSON.stringify(message), function(response){
                //$("#greeting").text(response.greeting);
                console.log(response);
                $(".progress-bar").hide();
            });
            $("#prediction").text("");
			$("#pie-chart").empty();
			$("#prediction-list").empty();
         });   

		let base64Image
		$("#image-selector").change(function () {
			// 根据model_selected显示selector_2
			// let model_selected = $("#model-selector").val()	
			// if (model_selected =="人脸识别") {
			// 	$("image-selector2").show();
			// 	$("selected-image2").show();
			// }
			// else {
			// 	$("image-selector2").hide();
			// 	$("selected-image2").hide();            	
			// }

		    let reader = new FileReader();
		    reader.onload = function () {
		        let dataURL = reader.result;
		        $("#selected-image").attr("src", dataURL);
		        index_comma = dataURL.indexOf(',')
				base64Image = dataURL.substr(index_comma+1) 
		        $("#prediction-list").empty();
		    }
		    let file = $("#image-selector").prop("files")[0];
		    console.log(file)
		    reader.readAsDataURL(file);
		    $("#prediction").text("");
			$("#pie-chart").empty();
			$("#prediction-list").empty();
		}); 

		let base64Image_2
		$("#image-selector2").change(function () {
		    let reader = new FileReader();
		    reader.onload = function () {
		        let dataURL = reader.result;
		        $("#selected-image2").attr("src", dataURL);
		        index_comma = dataURL.indexOf(',')
				base64Image_2 = dataURL.substr(index_comma+1) 
		    }
		    let file = $("#image-selector2").prop("files")[0];
		    console.log(file)
		    reader.readAsDataURL(file);
		}); 		

		$("#predict-button").click(function(){	
			let modelname = $("#model-selector").val()	
			if (modelname == "人脸识别"){		
			    var message = {
			    	model_seleted: modelname,
			        image: base64Image,
			        image_2: base64Image_2
			    }
			}
			else{
			    var message = {
			    	model_seleted: modelname,
			        image: base64Image
			    }				
			}
		    console.log(message);
		    $.post("/predict", JSON.stringify(message), function(response){
		    	let modelname = $("#model-selector").val()
		    	// model is dog_cat
		    	console.log(modelname);
		    	if (modelname == "猫狗图像识别"){	
			    	if (response.prediction.dog >= response.prediction.cat){
			    		let p_dog = Math.round(response.prediction.dog * 10000)/100
			    		$("#prediction").text("这是一只狗狗(可能性="+p_dog+"%).");
			    	}
			        else {
			    		let p_cat = Math.round(response.prediction.cat * 10000)/100
			    		$("#prediction").text("这是一只猫咪(可能性="+p_cat+"%).");
			        }
			        
			        console.log(response);
				    let predictions = Object.entries(response.prediction).map(function(entry) {
			            return {
			                category: entry[0],
			                value: entry[1]
			            };
			        });

			        console.log(predictions)

					let cf = crossfilter(predictions);
					let category = cf.dimension(p => p.category);

			        // dc.rowChart("#row-chart")
			        //     .dimension(category)
			        //     .group(category.group().reduceSum(p => p.value))

			 		dc.pieChart("#pie-chart")
						.dimension(category)
						.group(category.group().reduceSum(p => p.value))

					dc.renderAll();
				}
				else if (modelname == "物体图像识别") {
					let top5_name = response.prediction['name']
					let top5_p = response.prediction['possibility']
					for (var key in top5_name) {
						var name = top5_name[key]
						var possibility = Math.round(top5_p[key]*10000)/100
						$("#prediction-list").append(`<li>${name}: ${possibility}%</li>`);
					}
				}
				else if (modelname == "手势图像识别"){	
					let number = response.prediction['number']
					$("#prediction").text("手势表示的数字为: "+number)
				}
				else if (modelname == "人脸识别"){	
					let dist = response.prediction['distance']
					console.log(dist)
					let threshold = 0.7
					if (dist >= threshold){
						$("#prediction").text("这不是同一个人("+(Math.round(dist*10000)/10000)+",阈值="+threshold+")")
					}
					else{
						$("#prediction").text("这是同一个人("+(Math.round(dist*10000)/10000)+",阈值="+threshold+")")
					}
				}
				else if (modelname == "人脸检测"){	
					let image = response.prediction['image']
					console.log(image)
					$("#selected-image2").attr("src", "data:;base64,"+image);
					$("#prediction").text("人脸检测成功！")
				}				
				else if (modelname == "目标检测"){	
					let image = response.prediction['image']
					console.log(image)
					$("#selected-image2").attr("src", "data:;base64,"+image);
					$("#prediction").text("图片目标检测成功！")
				}					
				else {
					throw new Error("Unknown model name");
				}	
			});
		});	
	</script>     
{% endblock content %}	
